body {
  width: 960px;
  margin: 0px auto;

  font-family: sans-serif;
  color: #333;
}

#top-block {
  background-color: #333;
  height: 30px;
  overflow: auto;
}
#top-block > p {
  margin: 3px;
  color: #ccc;
}

#open-close-bar {
  text-align: center;
  background-color: #333;
  min-height: 30px;
  overflow: auto;
}
#show-more-categories {
  margin: 3px auto;
  background-color: inherit !important;
}

.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.half {
  width: 50%;
}

img.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.button {
  background-color: #999;
  border-radius: 3px;
  padding: 3px;
  user-select: none;
  text-align: center;
  width: 250px;
  color: #fff;
}
.button:hover {
  cursor: pointer;
  background-color: #ddd;
  color: #333;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

li {
  background-color: #fff;
  overflow: auto;
  border-left: #eee 4px solid;
  border-right: #eee 4px solid;
  margin-bottom: 3px;
}

.bar {
  height: 30px;
  margin: 0px;
}
.bar.left {
  background-color: #c3d7c4;
}
.bar.right {
  background-color: #e0cca6;
}

.tags-l {
  background-color: #ccc;
  border-right: 1px solid #666;
  margin: 0px;
  height: 30px;
  width: 90px;
}
.tags-r {
  background-color: #ccc;
  border-left: 1px solid #666;
  margin: 0px;
  height: 30px;
  width: 90px;
}

.chart {
  background-color: #eee;
  padding: 10px;
  border: #ccc solid 2px;
  margin: 5px 2px;
}
.chart.half {
  width: 47%;
}

#stats-pane {
  overflow: auto;
}
